# Traefik Production Values

experimental:
  kubernetesCRD: true

service:
  type: LoadBalancer

ports:
  web:
    port: 80
    expose: true
    exposedPort: 80
  websecure:
    port: 443
    expose: true
    exposedPort: 443
  traefik:
    port: 8080
    expose: true
    exposedPort: 8080

ingressRoute:
  dashboard:
    enabled: false

certificatesResolvers:
  hostinger:
    acme:
      email: "admin@asmglobal.cloud"
      storage: /data/acme.json
      dnsChallenge:
        provider: hostinger
        delayBeforeCheck: 0

env:
  - name: HST_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: hostinger-dns-api
        key: HST_API_TOKEN
