apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "<GIT_REPO_URL>"
    targetRevision: main
    path: "apps/infra-traefik"
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
