image:
  name: traefik
  tag: v3.6.2

ports:
  web:
    expose: true
  websecure:
    expose: true

service:
  type: LoadBalancer

pilot:
  enabled: false

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true

globalArguments:
  - "--api.insecure=true"   # optional to view dashboard until ingress works
