image:
  name: traefik
  tag: v3.6.2

ports:
  web:
    expose: true
  websecure:
    expose: true

service:
  type: LoadBalancer

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true
